.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-logo__item {
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
  background: linear-gradient(175deg, #12BCB0 20%, #0b77d6 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-logo span {
  color: #0b77d6;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
}

.navbar-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  background: transparent;
  border: 2px solid #0b77d6;
  border-radius: 8px;
  color: #0b77d6;
  cursor: pointer;
}

.navbar-button img {
  margin-right: 10px;
}

.navbar-hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-hours img {
  width: 28px;
  margin-right: 15px;
}

.navbar-hours__items {
  text-align: center;
}

.navbar-hours__items p {
  padding: 5px 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

.navbar-hours__items span {
  font-family: 'PT Sans', sans-serif;
  font-weight: bolder;
}

.navbar-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-phone img {
  margin-right: 15px;
}

.navbar-phone__items a {
  display: block;
  padding: 5px 0;
  font-family: 'PT Sans', sans-serif;
  color: #000;
}

.navbar-phone__items a.phone {
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  font-weight: bolder;
}

.section-header {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url("../img/main-image.jpg");
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../img/main-image.jpg");
  height: 650px;
  margin-bottom: 80px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px;
}

.section-block {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.section-block__title {
  margin: 20px 0;
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
  color: #333333;
}

.section-block__text {
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  font-size: 60px;
  margin-bottom: 110px;
  color: #333333;
}

.section-block__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-block__features .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin-right: 20px;
  width: 80px;
  height: 80px;
  line-height: 20px;
  text-align: center;
  background-color: #0b77d6;
  color: #fff;
  padding: 10px;
  font-size: 13px;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  border-radius: 50%;
  border: 2px solid #fff;
}

.form {
  background-color: #fff;
  height: 360px;
  width: 260px;
  padding: 20px 50px;
  margin-left: 200px;
  border-radius: 10px;
  text-align: center;
}

.form-title {
  margin: 5px 0;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: #333333;
}

.form-text {
  margin: 10px 0px 20px 0;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #333333;
}

.form-input {
  color: #555;
  text-align: center;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 20px 30px;
  border-radius: 10px;
}

.form-button {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffed26), to(#ffb400));
  background: linear-gradient(180deg, #ffed26 0%, #ffb400 100%);
  text-transform: uppercase;
  padding: 20px;
  font-family: 'Roboto Slab', serif;
  font-size: 17px;
  border: 1px solid #ffc600;
  border-radius: 10px;
  -webkit-box-shadow: 1px 2px 5px 0px #ff9900;
          box-shadow: 1px 2px 5px 0px #ff9900;
  margin-bottom: 10px;
  cursor: pointer;
}

.form .privacy {
  display: inline-block;
  margin-top: 14px;
  font-size: 14px;
  color: #666;
}

.glazing-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 80px;
  text-align: center;
}

.glazing-example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.glazing-example__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.glazing-example__items img {
  display: block;
  margin-bottom: 10px;
}

.glazing-example__items a {
  font-family: 'Roboto Slab', serif;
  color: #0b77d6;
}

.glazing-cold {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.glazing-item__cold {
  padding: 30px 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#c7dce9), color-stop(0%, #c7dce9), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #c7dce9 0%, #c7dce9 0%, rgba(255, 255, 255, 0) 100%);
  border-top: 4px solid #0089cd;
}

.glazing-item__warm {
  padding: 30px 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7eac9), color-stop(0%, #f7eac9), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #f7eac9 0%, #f7eac9 0%, rgba(255, 255, 255, 0) 100%);
  border-top: 4px solid #ffb903;
}

.item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-price {
  margin-right: 30px;
}

.item-price__first {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: bolder;
}

ul {
  line-height: 30px;
  list-style: none;
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif;
}

ul li {
  padding-left: 25px;
  background: url("../img/glazing/checked.png") no-repeat left;
}

.decoration {
  background-color: #f7f7f7;
  padding: 70px 0;
  text-align: center;
}

.decoration-title {
  margin-bottom: 50px;
}

.decoration-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0 20px 0;
  border-top: 10px solid #0089cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), color-stop(0%, #ebebeb), color-stop(20%, rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #ebebeb 0%, #ebebeb 0%, rgba(255, 255, 255, 0) 20%);
}

.decoration-category__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  border-bottom: 1px dotted #000;
}

.decoration-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.decoration-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.decoration-block__item {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 10px 10px;
}

.decoration-block__item p {
  margin: 0;
}

.decoration-block__price {
  color: #0089cd;
  font-weight: bold;
}

.decoration-form {
  margin-left: 0;
}

.works {
  text-align: center;
}

.works-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works-items__img {
  margin-bottom: 20px;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

.title {
  padding: 50px 0;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 30px;
}
/*# sourceMappingURL=style.css.map */